#summercamp-logo {
    width: 6rem;
    height: auto;
}

#profile-photo {
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.navbar-item {
    display: flex;
    flex-direction: row-reverse;
}

.hidden-button {
    background: transparent;
    border: none;
}