.card .btn {
    z-index: 2;
}

.card .edit-article {
    z-index: 2;
}

.card .card-img-top {
    height: 15rem;
    object-fit: cover;
}

.badge-primary {
    font-size: 100%;
    font-weight: 400;
    background-color: #b5dbff;
    color: #323232;
}